# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/BreadthFirstSearch/nbproject/private/
/BreadthFirstSearch/build/
/de.vogella.rss.model/nbproject/private/
/de.vogella.rss.model/build/
/DateThingy/nbproject/private/
/DateThingy/build/
/DateThingy/dist/
/Java/DepthFirstSearch/build/
/Java/IterativeDeepeningDFS/nbproject/private/
/Java/IterativeDeepeningDFS/build/
/Java/TowerHanoi/nbproject/private/
/Java/TowerHanoi/build/
/Java/QuickTest/nbproject/private/
/Java/QuickTest/build/
/EightTile/Java/AStarFlattened/build/
/EightTile/Java/AStarFlattened/nbproject/private/
/EightTile/Java/BreadthFirstSearch/build/
/EightTile/Java/BreadthFirstSearch/nbproject/private/
/EightTile/Java/DepthFirstSearch/build/
/EightTile/Java/DepthFirstSearch/nbproject/private/
/EightTile/Java/IterativeDeepeningAStar/build/
/EightTile/Java/IterativeDeepeningAStar/dist/
/EightTile/Java/IterativeDeepeningAStar/nbproject/private/
/EightTile/Java/IterativeDeepeningDFS/build/
/EightTile/Java/IterativeDeepeningDFS/nbproject/private/
/FifteenTile/IterativeDeepeningAStar/build/
/FifteenTile/IterativeDeepeningAStar/dist/
/FifteenTile/IterativeDeepeningAStar/nbproject/private/
/SlidingTileProject/nbproject/private/
/SlidingTileProject/build/
/Algorithms/EightTile/Java/PDB/nbproject/private/
/Algorithms/EightTile/Java/PDB/build/
/Algorithms/EightTile/Java/PDB/dist/
/Algorithms/EightTile/Java/PDB15Tile/nbproject/private/
/Algorithms/EightTile/Java/PDB15Tile/build/
/Algorithms/EightTile/Java/SequencingAlignmentForHeuristic/nbproject/private/
/Algorithms/EightTile/Java/SequencingAlignmentForHeuristic/build/
/Towers/nbproject/private/
/Towers/build/
/RubiksCube/nbproject/private/
/TowerOfHanoi/dist/
/SlidingTileProject/dist/